.tornament_container {
    padding-top: 10px;
}

.filterbar {
    background-color: deepskyblue;
    display: flex;
    padding: 10px 0px;
    text-align: center;
}

.filterbtn {
    margin-left: 30px; 
}