.App-header {
  text-align: center;
  height: 5vh;
}

.App-body {
  /* background-color: #0f1d3a; */
  /* background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%); */
  background-color: #537895;
  background-image: linear-gradient(315deg, #152838 0%, #09203f 74%);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-foot {
  background-color: #1b3569;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  font-size: calc(16px + 2vmin);
  color: #fff;
  display: initial;
}